* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400, 800;
    font-style: normal;
}

.info {
    background-color: hsl(0, 0%, 100%);
    margin: 8rem 2rem;
    border-radius: 2rem;
    border: 1px solid hsl(0, 0%, 0%);
    padding: 1rem;
    box-shadow: 10px 10px hsl(0, 0%, 0%);

}

.illustration-article {
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
    padding: 10px;
}

.information {
    padding: 1rem;
}

h4 {
    text-decoration: none;
    display: inline;
    padding: 2px 10px;
    background-color: hsl(47, 88%, 63%);
    border-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-weight: 800;
    font-style: normal;
}

h5 {
    padding: 1rem 0;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p{
    padding: 1rem 0;
    color: hsl(0, 0%, 42%);
    font-weight: 400;
    font-size: 15px;
}

.image-avatar{
    width: 15%;
    padding-left: 15px;
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-weight: 800;
}

a:hover{
    cursor: pointer;
    color: hsl(47, 88%, 63%);
}

.footer {
    display: flex;
}

h6{
    padding: 6px 0 0 15px;
    font-weight: 800;
    font-size: 15px;
}

@media(min-width: 1200px){
    .info{
        overflow-y: auto;
        overflow-x: auto;
        width: 25%;
        margin-left: 45rem;
       
    }

    h6{
        padding: 10px 0 0 15px;
        font-weight: 800;
        font-size: 15px;
    }
}